<p class="field">
  <strong><%= comment.user.username %>:</strong>
  <%= comment.body %>
</p>
<%#= link_to 'Delete', [comment.service, comment],
                  method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
