<div class="services row top-marging">
  <% @user.services.each do |s|%>
    <%#= s.name %>
    <div class="col s4">
      <div class="card card-panel hoverable" >
        <div class="card-content" >
          <%= link_to s.name, service_path(s) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
