/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ebebeb;
  color: black;
} */

button {
  margin: 50px;
  float: right;

  /* z-index: 1; */
}

nav {
  z-index: 5;
  margin-bottom: 250px;
}

.search-form {
  padding-left: 25px;
  width: 150px;
  display: inline-block;
}

.nav-items > li > a,
.nav-items,
.nav-items > li {
  float: left;
}

.top-marging {
  margin-top: 120px;
}
/* .large {
  
} */
.container {
  background-color: blue;
  margin-bottom: 50px;
}
.field {
  width: 500px;
}
.login {
  position: relative;
  left: 500px;
}
