/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

button {
  margin: 50px;
  float: right;
}

nav {
  z-index: 2;
  /* margin-bottom: 250px; */
}

.nav-items > li > a,
.nav-items,
.nav-items > li {
  float: left;
}

.top-marging,
.edit {
  margin-top: 18px;
}

.container {
  height: 632px;
  width: 100%;
  position: relative;
}
.intro {
  width: 100%;
  height: 615px;
}
.search-form > input {
  /* padding-left: 25px; */
  /* width: 50px; */
  /* display: inline-block; */
  color: black;
  position: absolute;
  top: 250px;
  left: 800px;
}

.login {
  position: relative;
  left: 300px;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: relative;
  opacity: 1;
  pointer-events: inherit;
  width: auto;
}
.error-message {
  margin-top: 80px;
}

/* label underline focus color */
.input-field input[type="text"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
footer {
  height: 100px;
}
.actions {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.field {
  margin-left: 10px;
  width: 500px;
}
a {
  color: black;
}
